{% extends "store/base.html" %}
{% load i18n %}
{% block title %}{{block.super}} Password reset{% endblock %}
{% block content %}


<div class="row no-gutter py-5">
    <div class="col-md-12">
        <div class="login d-flex align-items-center py-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4  mx-auto">
                        <div>
                            {% if 'email' in request.get_full_path %}
                                    <h3 class="mb-4">{% trans "Password Reset Success" %}</h3>
                                    <p>{% trans "Check your email for instructions" %}</p>
                            {% endif%}
                            {% if 'complete' in request.get_full_path %}
                                    <h3 class="mb-4">{% trans "Password Reset Success" %}</h3>
                                    <a href="{% url "account:login" %}">{% trans "Login" %}</a>
                            {% endif%}
                        </div>       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}